<section class="header">
  <div class="header-row" dir="rtl">
    <div class="number-status">
      <span class="msisdn">012345678910</span>
      <div class="status-container">
        <span class="status-badge">قيد الإستخدام</span>
      </div>
    </div>
    <div class="menu-block">
      <button class="menu-btn" aria-label="settings">⋯</button>
    </div>
  </div>
  <div class="info-row" dir="rtl">
    <div class="info-col">
      <h4 class="info-title">اسم البروتوكول</h4>
      <p class="info-value truncate"  title="{{ data.protocolName }}">{{ data.protocolName }}</p>
    </div>
    <div class="divider"></div>
    <div class="info-col">
      <h4 class="info-title ">الدولة</h4>
      <div class="client-info">
        <img class="country-avatar" src="assets/images/sa.png" alt="sudia" />
        <p class="info-value truncate" title="{{data.country}}">{{ data.country }}</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="info-col">
      <h4 class="info-title">العميل الحالي</h4>
      <div class="client-info">
        <img class="client-avatar" src="assets/images/client-avatar.png" alt="client-avatar" />
      <p class="info-value truncate"  title="{{ data.currentClient }}">{{ data.currentClient }}</p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="info-col">
      <h4 class="info-title">عدد الإمتدادات</h4>
      <p class="info-value num">{{ data.extensionCount | number : "2.0" }}</p>
    </div>
  </div>
  <div class="info-row" dir="rtl">
    <div class="info-col">
      <h4 class="info-title">تاريخ آخر شحنة</h4>
      <p class="info-value num">{{ data.lastShipmentDate | date : "yyyy/MM/dd" }}</p>
    </div>
    <div class="divider"></div>
    <div class="info-col">
      <h4 class="info-title">الرصيد الحالي</h4>
      <p class="info-value num">{{ data.currentCredits}} <span class="currency">ج.م</span></p>
    </div>
    <div class="divider"></div>
    <div class="info-col">
      <h4 class="info-title">الرصيد المستخدم للعميل الحالي</h4>
      <p class="info-value num">{{ data.clientUsedCredits }}<span class="currency"> ج.م</span></p>
    </div>

    <div class="divider"></div>

    <div class="info-col">
      <h4 class="info-title">الرصيد المستخدم للرقم ككل</h4>
      <p class="info-value num">{{ data.totalUsedCredits}}<span class="currency"> ج.م</span></p>
    </div>
  </div>
</section>
