<div class="table-container"[dir]="currentLang === 'ar' ? 'rtl' : 'ltr'" >
  <div class="table-wrapper">
    <div class="table-header">
      <div>{{ "table.tableHeadings.client" | translate }}</div>
      <div>{{ "table.tableHeadings.registrationDate" | translate }}</div>
      <div>{{ "table.tableHeadings.releaseDate" | translate }}</div>
      <div>{{ "table.tableHeadings.registrarName" | translate }}</div>
      <div>{{ "table.tableHeadings.localMinutes" | translate }}</div>
      <div>{{ "table.tableHeadings.internationalMins" | translate }}</div>
      <div>{{ "table.tableHeadings.totalCost" | translate }}</div>
    </div>
    <div class="table-row" *ngFor="let row of paginatedData ?? []">
      <div class="client-cell">
        <img
          class="avatar"
          [src]="'assets/images/client-avatar.png'"
          alt="avatar"
        />
        <span class="truncate" title="{{ row.client }}">{{ row.client }}</span>
      </div>
      <div class="num-font">
        {{ row.registrationDate | date : "dd/MM/yyyy" }}
      </div>
      <div class="num-font">
        {{ row.releaseDate ? (row.releaseDate | date : "dd/MM/yyyy") : "-" }}
      </div>
      <div>{{ row.registrarName }}</div>
      <div class="num-font">{{ row.localMinutes }}</div>
      <div class="num-font">{{ row.internationalMinutes }}</div>
      <div class="num-font">
        {{ row.cost | number }} <span class="ar-font">ج.م</span>
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <div class="page-size">
      <span class="ar-font">{{ "table.pagination.showing" | translate }}</span>
      <select (change)="changePageSize($event)" dir="ltr">
        <option class="num-font" [value]="10">10</option>
        <option class="num-font" [value]="20">20</option>
        <option class="num-font" [value]="30">30</option>
        <option class="num-font" [value]="50">50</option>
      </select>
      <span class="num-font"
        ><span class="ar-font">{{ "table.pagination.from" | translate }}</span
        >{{ totalItems }}</span
      >
    </div>
    <div class="pages" >
      <span class="arrow" (click)="changePage(currentPage - 1)">&lt;</span>
      <span
        *ngFor="let p of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1"
        (click)="changePage(i + 1)"
      >
        {{ i + 1 }}
      </span>
      <span class="arrow" (click)="changePage(currentPage + 1)">&gt;</span>
    </div>
  </div>
</div>
