.table-container {
  width: 100%;
  max-width: 872px;
  height: 338px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ECF0F5;
  margin: 0 auto;
  margin-top: 0.7rem;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  scrollbar-width: none;
  height: 272px;
  min-width: 848px
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 200px 1fr 1.4fr 1.9fr 1fr 1.5fr 1fr;
  align-items: center;
  height: 40px;
  padding: 0 16px 0 0px;
  width: 848px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
  column-gap: 5px;
  width: 848px;
  min-width: 848px;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  font-family: var(--main-font);
}

.table-row {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--main-font);
  color: #1C1C28;
  border: 1px solid rgb(0, 0, 0, 0.1);
  height: 50px;
  background-color: white;
}

.table-row div {
  background-color: white;
}

.num-font {
  font-family: "Poppins", sans-serif;
  ;
}

.ar-font {
  font-family: 'Neo Sans Arabic', sans-serif;
  background-color: white;
}

.truncate {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.client-cell {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
}

.client-cell span {
  background-color: white;

}

.avatar {
  width: 26px;
  height: 26px;
  border-radius: 40px;
  object-fit: cover;
  border: 0.33px solid rgb(0, 0, 0, 0.1);
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-family: var(--main-font);
  font-size: 14px;
  color: #374151;
  width: 848px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;

}

.pages {
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: white;
}

.pages span {
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 400;
  color: #7E8299;
  font-family: var(--secondary-font);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 4px;


}

.pages span.active {
  background-color: #3E97FF;
  color: #fff;
  border-color: #3E97FF;
  font-weight: 500;
  border-radius: 4px;

}

.pages span:hover {
  background-color: #3E97FF;
  color: #fff;
}

.page-size {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
}

.page-size span {
  background-color: #fff;
  font-size: 11px;
  font-weight: 500;
  color: #333333;
}

.page-size select {
  padding: 7px 8px 7px 8px;
  border: 1px solid #EFEFEF;
  border-radius: 2px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 500;

}


.table-container::-webkit-scrollbar {
  display: none;
}

.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  scrollbar-width: none;
  height: 272px;
  min-width: 848px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 180px 1.6fr 1.4fr 2.1fr 1.2fr 1.5fr 1fr;
  align-items: center;
  height: 40px;
  padding: 0 14px 0 14px;
  text-align: start;
  width: 848px;
  min-width: 848px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
  column-gap: 5px;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 13px;
  font-weight: 400;
  color: #6B7280;
  font-family: var(--main-font);
}

.table-row {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--main-font);
  color: #1C1C28;
  border: 1px solid rgb(0, 0, 0, 0.1);
  height: 50px;
  background-color: white;
}

.table-row div {
  background-color: white;
}

@media (max-width: 768px) {

  .table-header,
  .table-row {
    font-size: 12px;
    padding: 0 8px;
  }

  .client-cell span {
    max-width: 100px;
  }
}